#pg-table-container .pg-tabs-container {
    width: 400px;
    height: 25px;
    margin: 0px auto;
}

#pg-table-container .pg-tabs-container .nav-item {
    width: 80px;
    height: 25px;
}

#pg-table-container .pg-tabs-container .nav-link {
    width: 80px;
    height: 25px;
    font-size: 10px;
    color: #748194;
    text-align: center;
    padding: 5px !important;
}

#pg-table-container .pg-tab.active {
    border-bottom: 2px solid #2C7BE5 !important;
    font-weight: bold;
}

#pg-table-container .pg-tab.active > .row-cnt {
    color: #2C7BE5;
}

/* 테이블 스타일 */
#pg-table-container {
    width: 400px;
    border: 1px solid #EDF2F9;
    margin: 0px auto;
}

#pg-table-container .pg-col-1 {
    width: 30px;
}

#pg-table-container .pg-col-2 {
    width: 100px;
}

#pg-table-container .pg-col-3 {
    width: 100px;
}

#pg-table-container .pg-col-4 {
    width: 100px;
}

#pg-table-container .pg-col-5 {
    width: 70px;
}

/* 버튼 스타일 */
#pg-table-container #save-btn {
    width: 45px;
    height: 20px;
    border: 1px solid #DCDCE1;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.25);
    font-size: 9px;
    color: #4D5969;
    background-color: #FFFFFF;
    padding: 3px !important;
    margin: 0 0 5px 375px;
}