body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDF2F9;
}

span {
    font-size: 18px;
    margin: 40px 0 60px 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

#signup-container {
    width: 900px;
    margin-top: 150px;
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

#left-side, #right-side {
    width: 350px;
    height: 300px;
    margin: auto;
}

.label{
	width: 139px;
    padding-top: 12px;
}

.check-id, .check-pw{
	font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}

.select-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 51px;
}


.check-pw, .check-id{
	display: flex;
    flex-direction: row;
    padding: 10px 0px;
}


label{
    width: 140px;
    text-align: left;
}

.input-div{
	padding-bottom: 15px;
	display: inline-flex
	
}

input {
	width:300px;
    padding: 5px;
    border: none;
    border: 1px solid rgb(221, 221, 221);
    font-size: 0.8rem;
}

select {
    width: 140px;
    padding: 5px;
    font-size: 0.8rem;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-signup {
    width: 300px;
    height: 30px;
    padding: 3px;
    background-color: #EDF2F9;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    margin-top: 20px;
}

.btn-signup:hover {
    background-color: #3D86E7;
    color: white;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

